@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-vesper-peppermint: #99ffe4;
  --color-vesper-orange: #ffc799;
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --text-xs: 0.625rem;
  --text-sm: 0.78125rem;
  --text-md: 0.9375rem;
}

:root {
  --background: var(--color-neutral-50);
  --foreground: var(--color-neutral-950);
  --muted: var(--color-neutral-200);
  --muted-foreground: var(--color-neutral-600);
}

.dark {
  --background: var(--color-neutral-950);
  --foreground: var(--color-neutral-50);
  --muted: var(--color-neutral-800);
  --muted-foreground: var(--color-neutral-400);
}

@layer base {
  html {
    height: 100%;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background: var(--background);
    color: var(--color-foreground);
    font-family: var(--font-sans);
    font-size: var(--text-md);
  }

  pre {
    --background: var(--color-neutral-900);
    --foreground: var(--color-neutral-400);
    overflow-x: auto;
    max-width: 100%;
    background-color: transparent !important;
    scrollbar-width: thin;
    scrollbar-color: var(--color-neutral-700) transparent;

    code {
      background-color: var(--background);
      font-size: var(--text-sm);
      font-family: var(--font-mono);
      padding-block: calc(var(--spacing) * 4);
      isolation: isolate;
      display: block;
      width: fit-content;
      min-width: 100%;
      counter-reset: line;

      & span {
        color: var(--shiki-dark);
      }

      .line {
        display: inline-block;
        width: 100%;
        counter-increment: line;

        &::before {
          pointer-events: none;
          position: sticky;
          left: 0;
          z-index: 20;
          display: inline-block;
          width: calc(var(--spacing) * 4);
          background: linear-gradient(
            to right,
            var(--background) 80%,
            transparent
          );
          color: var(--foreground);
          text-align: right;
          content: " ";
          user-select: none;
        }

        [data-line-numbers="true"] &::before {
          content: counter(line);
          width: 2.5rem;
          padding-right: 0.75rem;
          color: #8b8b8b94;
        }

        &::after {
          pointer-events: none;
          position: sticky;
          right: 0;
          z-index: 10;
          display: inline-block;
          width: calc(var(--spacing) * 4);
          background: linear-gradient(to left, var(--background), transparent);
          content: " ";
          user-select: none;
        }
      }
    }
  }

  .prose {
    & > :where(* + *) {
      margin-top: calc(var(--spacing) * 4);
    }

    & > :where(* + h2) {
      margin-top: calc(var(--spacing) * 16);
    }

    & > :where(* + h3) {
      margin-top: calc(var(--spacing) * 8);
    }

    & :where(h2) {
      font-weight: 500;
      text-wrap: pretty;
    }

    & :where(h2:has(+ h3)) {
      font-size: var(--text-3xl);
      font-stretch: 200%;
      font-weight: 100;
      text-transform: uppercase;
      color: var(--color-muted-foreground);
    }

    & :where(p) {
      color: var(--color-muted-foreground);
    }

    & :where(a) {
      color: var(--color-vesper-orange);
      text-decoration: underline;
    }

    & :where(ul) {
      list-style-type: disc;
      padding-left: calc(var(--spacing) * 6);
      color: var(--color-muted-foreground);

      ::marker {
        color: var(--color-foreground);
      }
    }

    & :where(hr) {
      margin-top: calc(var(--spacing) * 16);
      border: none;
      height: 1px;
      background-color: var(--color-muted);
    }
  }
}

@layer utilities {
  .background-grid {
    background: conic-gradient(
      from 90deg at 50% 50%,
      transparent 0deg 90deg,
      var(--color-muted) 90deg 180deg,
      transparent 180deg 270deg,
      var(--color-muted) 270deg 360deg
    );
    background-size: 8px 8px;
  }
}
